SwiftTableViewControllerAndOtherFunnyStuff.xcodeproj/xcuserdata/a_wittmann.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SwiftTableViewControllerAndOtherFunnyStuff.xcodeproj/xcuserdata/a_wittmann.xcuserdatad/xcschemes/SwiftTableViewControllerAndOtherFunnyStuff.xcscheme
SwiftTableViewControllerAndOtherFunnyStuff.xcodeproj/xcuserdata/flori.xcuserdatad/xcschemes/SwiftTableViewControllerAndOtherFunnyStuff.xcscheme
SwiftTableViewControllerAndOtherFunnyStuff.xcodeproj/xcuserdata/a_wittmann.xcuserdatad/xcschemes/xcschememanagement.plist
SwiftTableViewControllerAndOtherFunnyStuff.xcodeproj/xcuserdata/flori.xcuserdatad/xcschemes/xcschememanagement.plist
